.footer {
  text-align: center;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.unlink {
  text-decoration: inherit;
  color: inherit;
}

.thin-outline {
  outline: solid black 1px;
}

.thin-border {
  border: solid black 1px;
}

.fancy-link {
  display: inline-block;
  outline: inset black 4px;
  background-color: #2e5856;
  padding: 4px;
  font-size: 32px;
}

.fancy-nav-bar {
  display: block;
  outline: inset black 2px;
  background-color: #1b4240;
  margin: 2px;
  padding: 4px;
  text-decoration: inherit;
  color: inherit;
  width: calc(100% - 1em);
}

.fancy-nav-link {
  display: inline-block;
  outline: inset black 2px;
  background-color: #3f4f4e;
  padding: 2px;
  text-decoration: inherit;
  color: inherit;
}

.block-outline {
  outline: solid black 1px;
  display: block;
}

.thin-table {
  border: inset rgb(22, 31, 41) 2px;
  background-color: rgb(23, 31, 39);
}

.thin-table td {
  padding: 4px;
  outline: solid rgb(19, 22, 22) 2px;
}

.thin-table th {
  outline: dotted rgb(19, 22, 22) 1px;
}

.character-title {
  font-style: italic;
  text-indent: 1em;
}

.slated-background {
  background-color: #203532;
}

.slate-background {
  background-color: #0f2025;
}

.deorum-background {
  background-color: #0e1925;
}

:root {
  color: rgb(179, 179, 179);
}

.in-gods-eyes {
  background-color: #5f0000;
}

@keyframes god-bounce {
  0% {
    scale: 100%;
  }

  100% {
    scale: 95%;
  }
}

.as-ordained {
  color: red;
  font: 16px Brush Script MT, Brush Script Std, cursive;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-name: god-bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.addition {
  color: lightgreen;

}

li.addition::marker {
  content: '+';
}

.removal {
  color: crimson;

}

li.removal::marker {
  content: '-';
}

audio.boss-theme::-webkit-media-controls-panel {
  background-color: rgb(179, 179, 179);
  color: #3f4f4e;
  border: black 2px ridge;
  outline: black 2px ridge;
}

.phase-theme {
  transform: scale(0.5);
  transform-origin: center left;
}

audio.phase-theme::-webkit-media-controls-panel {
  background-color: rgb(179, 179, 179);
  color: #3f4f4e;
  border: black 2px ridge;
  outline: black 2px ridge;
}