.footer {
  text-align: center;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.unlink {
  text-decoration: inherit;
  color: inherit;
}

.thin-outline {
  outline: solid black 1px;
}

.thin-border {
  border: solid black 1px;
}

.fancy-nav-bar {
  outline: inset black 2px;
  background-color: #1b4240;
  margin: 2px;
}

.fancy-nav-link {
  outline: inset black 2px;
  background-color: #3f4f4e;
  margin: 4px;
}

.block-outline {
  outline: solid black 1px;
  display: inline;
}

.thin-table tr {
  outline: solid black 1px;
}

.thin-table td {
  outline: solid black 1px;
}

.character-title {
  font-style: italic;
  text-indent: 1em;
}

.slated-background {
  background-color: #203532;
}

.slate-background {
  background-color: #0f2025;
}

.deorum-background {
  background-color: #0e1925;
}
